<!DOCTYPE html>
<html>
<head>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Order History</title>

</head>
{% block content %}
<body>
    <div class="container mb-5">
        <div class="row justify-content-center mt-1">
            <div class="col-md-12 col-sm-12 p-4">

                <div class="pt-5">
                    <h3>Order History</h3>
                    <table class="table table-striped">
                        <tr>
                       
                        <th>Book name </th>
                        <th> Price </th>
                        
                        </tr>
                        {% for item in order_history %}
                        <tr>
                            
                            <td>{{ item.product__name}}</td>
                            <td>{{ item.price }}</td>
                        
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                
            </div>
        </div>
    </div>

    <div class="container mb-5">
        <div class="row justify-content-center mt-1">
            <div class="col-md-12 col-sm-12 p-4">
                <a href = "{% url 'logout' %}">Logout here</a> 
           
                <div><a href = "{% url 'products' %}">Catalogue</a></div> 
            </div>
        </div>
        
    </div>
{% endblock content %}  
</body>
</html>

