<!DOCTYPE html>
<html>
<head>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Product List</title>

</head>
<body>
    <!--Product list-->
    <h3>Catalogue</h3>
    <table class="table table-striped">
        <tr>
          <th>Name </th>
          <th> Price </th>
          <th> Stock Quantity </th>
        </tr>
        {% for item in products %}
          <tr>
            <td>{{ item.name}}</td>
            <td>{{ item.price }}</td>
            <td>{{ item.stock_quantity }}</td>
            
          </tr>
        {% endfor %}
      </table>
      <!--Pagination-->
      <div class="pagination">
        <span class="step-links">
            {% if products.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ products.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ products.number }} of {{ products.paginator.num_pages }}.
            </span>
    
            {% if products.has_next %}
                <a href="?page={{ products.next_page_number }}">next</a>
                <a href="?page={{ products.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>      

<div class="container mb-5">
  <div class="row justify-content-center mt-1">
      <div class="col-md-12 col-sm-12 p-4">
          <a href = "{% url 'logout' %}">Logout here</a> 
     
          <div><a href = "{% url 'orders' %}">Place orders</a></div> 
          <div><a href ="{% url 'order_history' %}">Order History</a></div>
      </div>
  </div>
  
</div>
</body>
</html>
